<head>
<title>Employees</title>
</head>
<body>
<h1>Employees</h1>
<% @id.each do |id| %>
    <h3> <%= id[:name] %></h3>
    <h4><%=id[:position] %></h4>
    <h5><%=id[:facts] %></h5>
    <p> <img src="<%=id[:image]%>"height"300" width="300"> </p>
<% end %>
</body>