<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>main Template</title>
        <link rel="stylesheet" href="/Public/main.css">
    </head>
    <body>
    <div id="right"></div>
        <%= yield %>

        <img src="/Public/Images/lokta.jpg" height="328" width="328">
        <img src='/Public/Images/marble.jpg' height="328" width="328">
        <img src='/Public/Images/natural.jpg' height="328" width="328">
        <img src='/Public/Images/washi.jpg' height="328" width="328">

        <script src="/Public/main.js"></script>
    </body>
</html>
