body {
	color: #292b34;
	font-family: 'Tangerine', cursive;
	font-size: 30px;
	background-color: #d3f1f0;
}

#right {
	background-color: #a2cfc8;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	z-index: -1;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-column-gap: 1px;

}

li {
	list-style-type: none;
}


h2, h1, h3, h4 {
	text-align: center;
	color: #884c3e;
	font-size: 50px;
}

span {
	font-size: 90px;
}

h4 {
	font-size: 40px;
}

.mission, h4 {
	text-align: center;
	padding-bottom: 30px;
}

h3 {
	padding-bottom: 30px;
	text-align: center;
	color: #624970;
}

.images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 80px;
	background-color: linear-gradient(to bottom, black 0%, black 50%,
        #000000 50%, white 50%, white 100%);
    border-bottom: 2px solid black;
}

p {
	text-align: center;
}

@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

h1 {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}

footer {
	background-color: #ad8e5b;
	padding-top: px;
	padding-bottom: px;
	text-align: center;
}

.hidden {
	opacity: 0;
}

.footer {
	color: #624970;
}



